<footer class="footer text-center">
  <div class="container">
    <div class="col-xs-12">
      <!-- <a href="http://blog.astervoid2000.com">Astervoid 2000 Blog</a> -->

      <p class="copyright">
        Astervoid 2000 &copy; <span class="copyright-year"></span>
      </p>

      <div class="mad-capacity-logo-wrapper">
        <a href="http://madcapacity.com"><img class="img-responsive" src="{% asset_path madcapacity-logo.png %}" /></a>
      </div>
      <div class="lrevg-logo-wrapper">
        <a href="http://lrevg.com"><img class="img-responsive" src="{% asset_path lrevg-logo.png %}" /></a>
      </div>

    </div>
  </div>
</footer>
