@font-face {
  font-family: 'Munro Small';
      src: url('munrosmall-webfont.woff2') format('woff2'),
       url('munrosmall-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
