hr {
  border-color: #33363e;
  color: #33363e;
}
label.label {
  font-size: 30px;

  @media (min-width: 768px) {
    label.label {
      font-size: 30px;
    }
  }
}
.gradient {
  background-image: linear-gradient(to bottom, rgba(10, 131, 158, 0.2), rgba(0, 0, 0, 0.7));
  min-height: 600px;
}
.navbar-main {
  background: rgba(120, 120, 255, 0.1);
}
.background-concept-art {
  background-image: url(asset_path('steam-capsule-8bit.png'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 540px;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.main {
  background-image: url(asset_path('body-bg.jpg'));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0;
  padding: 0;
  margin: 0;
  min-height: 600px;

  @media (min-width: 768px) {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.text-block-1 {
  margin: 140px 0 0;
}
.text-block-2 {
  margin-top: 0 !important;
}
.ship-animation {
  background: transparent;
  height: 200px;
  margin-left: -300px;
  margin-right: -300px;
  padding: 0;
}
.button.button-huge {
  padding-top: 10px;
  padding-bottom: 15px;

  @media (min-width: 992px) {
    padding-top: 5px;
    padding-bottom: 15px;
  }
}
.footer {
  background: #141217;
  color: #fff;
  font-size: 30px;
  padding: 30px 0 30px 0;

  a {
    color: #bbb;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  p.copyright  {
    text-transform: initial;
    margin: 0;
  }
}
::-webkit-input-placeholder {
  color: #468;
}
:-moz-placeholder {
  color: #468;
}
::-moz-placeholder {
  color: #468;
}
input:-ms-input-placeholder {
  color: #468;
}
