@font-face {
  font-family: 'Munro Small';
      src: url(asset_path('munrosmall-webfont.woff2')) format('woff2'),
       url(asset_path('munrosmall-webfont.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}
