{% include _doctypes.html %}
<html lang="en-us">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <title>Astervoid 2000</title>

    {% include _shared_head.html %}

    <meta name="description" content="Head to head dogfighting through a sea of asteroids.">
    <meta property="og:description" content="Head to head dogfighting through a sea of asteroids.">
    <meta name="keywords" content="videogames games indie indiedev gamedev shooter twin-stick">
    <meta property="og:title" content="Astervoid 2000">

    <meta name="author" content="astervoid2000.com">
    <meta name="copyright" content="MadCapacity & LREVG">

    <meta property="og:site_name" content="astervoid2000">
    <meta property="og:url" content="http://astervoid2000.com{{ page.url | replace: 'index.html', ''}}">
    <meta property="og:type" content="business.game">

    <meta property="og:image" content="http://astervoid2000.com/images/astervoid2000-symbol-large-200x200-gray.png">

    <meta property="business:contact_data:street_address" content="#303 - 210 Carrall St">
    <meta property="business:contact_data:locality" content="Vancouver, BC">
    <meta property="business:contact_data:postal_code" content="V6B 2J1">
    <meta property="business:contact_data:country_name" content="Canada">
    <meta property="place:location:latitude" content="49.282471">
    <meta property="place:location:longitude" content="-123.103046">

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@astervoid2000" />
    <meta property="twitter:image" content="http://astervoid2000.com/images/astervoid2000-symbol-large-200x200.png">
    <meta property="twitter:url" content="http://astervoid2000.com">

    <script src="//use.typekit.net/scl6izu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="alternate" type="application/atom+xml" href="http://blog.astervoid2000.com/index.xml" title="Astervoid 2000 atom feed">
  </head>
  <body>
    <div class="main landing">
      {% include _header_and_logo.html %}

      {{ content }}
    </div>

    {% include _site_footer.html %}

    {% javascript app %}
    {% include _google_tag_manager.html %}
  </body>
</html>
